* {
  margin: 0;
  padding: 0;
}
#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  width: 100vw;
  height: 100vh;
}
form {
  width: 100%;
  height: 80%;
  padding: 5px;
  box-sizing: border-box;
  border-top: 2px solid var(--lines);
}
header {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
header span {
  height: 100%;
  color: var(--lines);
  border: 1px solid var(--lines);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.name {
  flex-grow: 1;
  border-left: 0;
  font-size: 20px;
}
.room {
  flex-grow: 4;
}
.close {
  flex-grow: 1;
  border: 0;
  border-left: 1px solid var(--lines);
  font-size: 20px;
  box-sizing: border-box;
}
.close:hover {
  flex-grow: 1;
  background-color: rgba(255, 49, 21, 0.863);
  color: white;
}
.messages_area {
  width: 100%;
  height: 70%;
  box-sizing: border-box;
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--lines);
}

.writing_messages_area {
  width: 100%;
  height: 30%;
  padding: 2%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.writing_messages_area input {
  height: 25%;
  padding: 5%;
  width: 75%;
  font-size: large;
  border: 1px solid var(--lines);
  box-sizing: border-box;
  border-radius: 5px;
  color: var(--lines);
}
.writing_messages_area span {
  height: 25%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bac);
  border-radius: 5px;
  background-color: var(--lines);
  color: var(--bac);
}
.writing_messages_area span:hover {
  color: var(--lines);
  background-color: var(--bac);
  border-color: var(--lines);
}
.writing_messages_area input:focus {
  outline: none;
}
.messageStyle {
  list-style: none;
  margin: 3%;
  margin-right: 50px;
  padding: 3%;
  border: 1px solid var(--lines);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--lines);
}
.UserMessageStyle {
  list-style: none;
  margin: 3%;
  margin-left: 50px;
  padding: 3%;
  background-color: var(--lines);
  border: 1px solid var(--bac);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--bac);
}
